/* ---------------------- GENERAL ---------------------- */

* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.flex-container {
    display: flex;
}

section {
    height: 100vh;
    border: 3px solid blue;
}

/* ---------------------- HOME ---------------------- */

.home {
    background: #06282A;
    background-image: url("../assets/01-home/divo.png");
    background-position: 100% 320%;
    background-size: 110% auto;
    background-repeat: no-repeat;
    flex-direction: column;
}

header {
    justify-content: center;
    margin: 25px 0 0 0;
}

.home ul {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.home ul li {
    /* width: 10vw; */
    align-self: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #B0C8D1;
}

article {
    margin: 20px 20px 0 0;
    width: 40vw;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

article .logo-bugatti {
    width: 30%;
    align-self: flex-end;
    padding: 10px 35px 35px;
}

article .logo-divo {
    width: 100%;
}

article h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 35px;
}

article p {
    color: #fff;
    width: 65%;
    text-align: right;
}

/* ---------------------- SHOWROOM ---------------------- */

.showroom {
    flex-direction: column;
    align-items: flex-start;
}

.showroom > h2 {
    text-transform: uppercase;
    color: #666;
    padding: 15px 25px;
    border: 7px solid #666;
    align-self: center;
}

.red-bg {
    background: red;
    width: 50vw;
    height: 130px;
    clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    justify-content: flex-start;
    align-items: center;
}

.red-bg > h2::before, .red-bg > h2::after  {
    content: '';
    display: block;
    height: 10px;
    width: 120%;
    background: #fff;
    margin: 10px 0 10px -25px;
}


.red-bg > h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: .3em;
    font-style: italic;
    margin: 0 0 0 20px;
}

/* ---------------------- ABOUT US ---------------------- */

/* ---------------------- PRICE ---------------------- */

/* ---------------------- TESTIMONALS ---------------------- */

/* ---------------------- GET IN TOUCH ---------------------- */