/* ---------------------- GENERAL ---------------------- */
@import url('./speedometer.css');

* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.flex-container {
    display: flex;
}

section {
    height: 100vh;
    border: 3px solid blue;
}

/* ---------------------- HOME ---------------------- */

.home {
    background: #06282A;
    background-image: url("../assets/01-home/divo.png");
    background-position: 100% 320%;
    background-size: 110% auto;
    background-repeat: no-repeat;
    flex-direction: column;
}

header {
    justify-content: center;
    margin: 25px 0 0 0;
}

.home ul {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.home ul li {
    /* width: 10vw; */
    align-self: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #B0C8D1;
}

article {
    margin: 20px 20px 0 0;
    width: 40vw;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

article .logo-bugatti {
    width: 30%;
    align-self: flex-end;
    padding: 10px 35px 35px;
}

article .logo-divo {
    width: 100%;
}

article h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 35px 0;
    font-style: italic;
    letter-spacing: 5px;
    align-self: flex-end;
    font-size: 1.2em;
}

article p {
    color: #fff;
    width: 65%;
    text-align: right;
}

/* ---------------------- SHOWROOM ---------------------- */

.showroom, 
.about-us, 
.price, 
.testimonals, 
.get-in-touch {
    flex-direction: column;
    align-items: flex-start;
}

.showroom > h2, 
.about-us > h2,
.price > h2,
.testimonals > h2,
.get-in-touch > h2 {
    text-transform: uppercase;
    color: #666;
    padding: 15px 25px;
    border: 7px solid #666;
    align-self: center;
    margin: 25px 0 30px 0;
}

.showroom h3 {
    color: #666;
    margin: 50px 0 0 25px;
    text-transform: uppercase;
    font-style: italic;
}

.display-performance {
    flex-direction: column;
}

.red-bg {
    margin: 25px 0 0 0;
    background: #CD1214;
    width: 50vw;
    height: 130px;
    clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
    justify-content: flex-start;
    align-items: center;
}

.red-bg > h2::before, .red-bg > h2::after  {
    content: '';
    display: block;
    height: 10px;
    width: 120%;
    background: #fff;
    margin: 10px 0 10px -25px;
}


.red-bg > h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: .3em;
    font-style: italic;
    margin: 0 0 0 20px;
}

.cars {
    list-style: none;
    justify-content: space-around;
    width: 100vw;
}

.cars li {
    flex-direction: column;
    margin: 25px 0 0 0;
    align-items: center;
    font-size: 1.2em;
}

dt {
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 25px;
}

.cars img {
    height: 120px;
}

/* ---------------------- ABOUT US ---------------------- */

.about-us {
    position: relative;
}
.about-us::before {
    content : "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
    background-image: url("../assets/03-about-us/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.au-container {
    justify-content: space-around;
    width: 100vw;
}

.au-info {
    flex-direction: column;
    width: 30vw;
}

.au-info p {
    font-family: 'Roboto', sans-serif;
    padding: 35px 35px 0 35px;
    text-align: justify;
    font-weight: 500;
    text-indent: 25px;
}

.au-pics {
    border: 7px solid white;
}

.col-1, .col-2 {
    flex-direction: column;
}

.au-pics img {
    border: 7px solid white;
}

/* ---------------------- PRICE ---------------------- */

.p-container {
    width: 100vw;
    justify-content: space-around;
    margin-left: -20px;
}

.p-container img {
    width: 50vw;
    align-self: center;
}

.p-info {
    width: 30vw;
    flex-direction: column;
    text-align: center;
    margin-left: -70px;
    
}

.p-info p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    padding: 15px;
}

.p-info p:nth-of-type(2) {
    padding-bottom: 0;
}

.p-info .model {
    font-size: 4em;
    background: #CD1214;
    transform: skew(-12deg);
    color: #fff;
    padding: 15px;
}

.p-info .price {
    font-size: 7em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-left: -50px;
    color: #39B54A;
}

form {
    align-self: center;
    margin: 50px 0 0 0;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #666;
}

input {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
}

button {
    border: 2px solid gray;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fff;
}

/* ---------------------- TESTIMONALS ---------------------- */

/* ---------------------- GET IN TOUCH ---------------------- */